* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 90%;
    margin: 0px auto;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col-1 {
    width: 8.33%;
    padding: 0px 15px;
}

.col-2 {
    width: 16.66%;
    padding: 0px 15px;
}

.col-3 {
    width: 25%;
    padding: 0px 15px;
}

.col-4 {
    width: 33.33%;
    padding: 0px 15px;
}

.col-5 {
    width: 41.66%;
    padding: 0px 15px;
}

.col-6 {

    width: 50%;
   
} 

.col-7 {
    width: 58.33%;
    padding: 0px 15px;
}

.col-8 {
    width: 66.66%;
    padding: 0px 15px;
}

.col-9 {
    width: 75%;
    padding: 0px 15px;
}

.col-10 {
    width: 83.33%;
    padding: 0px 15px;
}

.col-11 {
    width: 91.66%;
    padding: 0px 15px;
}

.col-12 {
    width: 100%;
    padding: 0px 15px;
}

.ailgn-items-center {
    align-items: center;
}



/* header section */
.menu{
    align-items: center;
    display: flex;
    background-color: #ffffff;
}
header .menu ul{
    display:flex;
    align-items: center;

}
header .menu ul li a{
    color: black;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 600;
    letter-spacing: 1px;

}
header .menu ul li a:hover{
    color:green;
   
}

/*signin section*/
.signin{
    display: flex;
    align-items:center;
    margin-left: auto;
    justify-content: flex-end;
    padding: 20px 0px;
}
.signin a:hover{
    color:green;
}
.signin i:hover{
    color:green;
}
.signin i{
    color:black;
    font-size: 25px;
    margin: 0px 10px;
}
.signin ul{
    display: flex;
}
.signin ul li{
    margin: 20px 20px;
}
.signin ul li a{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
/* buttons */
.signin button {
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
}
.signin .signinbtn {
    background-color: white;
    border:1px solid black;
    color: black;
}
.signin .signinbtn:hover{
    color:gainsboro;
}
.signin .joinnowbtn{
    background-color: black;
    color: white;
}
.signin .joinnowbtn:hover{
    color:gray;
}



/* order section */
.order {
    background-color: #133c0d;
    padding: 40px 0px;
}

.order-contant {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.order-contant p {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.order-contant .btn {
    background-color: transparent;
    border-radius: 30px;
    font-size: 15px;
    border: 2px solid white;
    color: #ffffff;
    padding: 10px 15px;
}

.order-contant .btn:hover {
    background-color: #0c7b54;
}

/* grads section */
.grads {
    margin-top: 35px;
    background-color: #006242;
    justify-content: center;
    text-align: center;

}

.grads-contant {

    justify-content: center;
    align-items: center;
    padding: 40px 45px;

}

.grads-contant h2 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.grads-contant p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    line-height: 1.75;
}

.grads-contant .btn {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006242;
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 20px 0px;
}




/* summer section */
.summer {
    margin-top: 35px;
    background-color: #006242;
    justify-content: center;
    text-align: center;

}

.summer-contant {
    justify-content: center;
    align-items: center;
    padding:40px 45px;

}

.summer-contant h2 {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.summer-contant p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
  
    line-height: 1.75;
}

.summer-contant .btn {
    font-size: 18px;
    font-weight: 600;
    color: rgb(40, 119, 53);
    background-color: #ebeeed;
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 30px 0px;
}

.summer-image .btn:hover {
    background-color: #eff5f3;
}

.summer-image{
    justify-content: flex-end;
    margin: 0px auto;
    
}

/* pickup section */
.pickup {
    margin-top: 40px;
    background-color: #006242;
    justify-content: center;
    text-align: center;
}

.pickup-contant {

    justify-content: center;
    align-items: center;
    padding:56px 45px ;
   
}

.pickup-contant h2 {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom:40px;
}

.pickup-contant p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
   line-height: 1.75;
}

.pickup-contant .btn {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #006242;
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 40px 0px;
}

/* Unicorn section */
.Unicorn {
    margin-top: 40px;
    background-color: #006242;
    justify-content: center;
    text-align: center;

}

.Unicorn-contant {
    justify-content: center;
    align-items: center;
    padding: 30px 45px;

}

.Unicorn-contant h2 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.Unicorn-contant p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.75;
}

.Unicorn-contant .btn {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(40, 119, 53);
    background-color: #ebeeed;
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 15px 0px;
}

/* footer-section */
.footer-section {
   justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    flex-wrap: wrap;
    box-shadow: 2px 1px 10px #d6d3d3;

}

.footer-section h3 {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 25px;
   
}

.footer-section li {
    font-size: 16px;
    color: #7e7b7b;
    margin-bottom: 20px;
    line-height: 1.5;
}

.privacy{
    margin-left: 40px;
    align-items: center;
    margin-top: 35px;
    flex-wrap: wrap;
    

}

.privacy i{
    margin:30px 0px;
    font-size: 30px;
}
.privacy li{
    margin-top: 10px;
    color: #000;
}

.privacy p{
    color: rgb(83, 82, 82);
    margin-top:20px;
}